@import 'variables';

@function step($multiplier) {
	@return calc($gap * $multiplier);
}

.u-flex-column {
	display: flex;
	flex-direction: column;
}

.u-flex-row {
	display: flex;
	flex-direction: row;
}

.u-grid-center {
	display: grid;
	place-items: center;
}
