// colors
$base-color: #fdcea6;
$font-color: #2f2e2e;

$red-color: #fd0000;
$red-color-hover: #c20303;
$red-color-disabled: #ef6b6b;

$green-color: #14cd00;
$green-color-hover: #119d02;
$green-color-disabled: #6fc566;

$blue-color: #00a7e9;
$blue-color-hover: #0181b4;
$blue-color-disabled: #75c0de;

$default-color: #9a9a9a;
$default-color-hover: #6b6969;
$default-color-disabled: #c4c2c2;

// gaps
$gap: 4px;
$border-radius: 10px;

// box-shadow
$box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font
$font-size: 1rem;
$line-height: 18px;
$font-weight: 400;

