<div class="header header-wrapper">
	<h2>KunoCup</h2>
	<button (click)="onStatisticsClick()" class="btn-statistics"><p>Statistics</p></button>
</div>

<div class="header button-wrapper">

	<button (click)="onDefaultModeButtonClick()" class="btn btn-default">
		<mat-icon color="black">group</mat-icon>
		<p>Default</p>
	</button>

	<div class="divider"></div>

	<button (click)="onAddPlayerButton()" [disabled]="!gameFlowService.currentGameStatus" class="btn btn-add">
		<mat-icon color="black">person_add</mat-icon>
		<p>Add Players</p>
	</button>

	<button (click)="onEndGameButtonClick()" class="btn btn-end">
		<mat-icon color="black">flag</mat-icon>
		<p>End Game</p>
	</button>

	<div class="divider"></div>

	<button (click)="onResetGameButtonClick()" class="btn btn-reset">
		<mat-icon color="black">replay</mat-icon>
		<p>Reset</p>
	</button>

</div>
